# Ignore Coffee/Espresso. We only want chocolate
FuzeWorks.esproj/*

# Ignore PHP Storm
.idea/

# Generic Files
*~
*.lock
*.DS_Store
*.swp
*.out

# Framework Files
Core/Cache/
Core/Logs/Error.log

# Build Files
vendor/
build/
Modules/admin/themes/adminlte2.1/plugins/
Modules/admin/themes/adminlte2.1/dist/
Modules/admin/themes/adminlte2.1/bootstrap/
